<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
          
           
                <h4 class="m-t-none m-b">Crear Rol Personal</h4>
                <form  class="form-horizontal" method="POST" action="{% url 'rrhh:rol_crear' %}">
                {% csrf_token %}
                
                <div class="form-group row m-b-5">
                    <label class="control-label col-md-2" >Año</label>
                    <div class="col-md-10"><input type="text" class="form-control" disabled="" name="anio" id="anio" value="{{anio}}"></div>
                </div>

                <div class="form-group row m-b-5">
                    <label class="control-label col-md-2" >{{form.mes.label_tag}}</label>
                    <div class="col-md-10">
                        {{form.mes}}
                    </div>
                </div>
                <div class="form-group row m-b-5">
                    <label class="control-label col-md-2">{{form.area.label_tag}}</label>
                    <div class="col-md-10">{{form.area}}</div>

                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
                    <button type="submit" class="btn btn-danger">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

  $('#id_servicio').select2({ dropdownParent: $('#modal-dialog')});
  $(".select2-container--default").removeAttr('style').css("width","100%");
</script>
