{% extends 'base.html' %}

{% load static %}


{% block css %}

<link href="{% static "assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" %}" rel="stylesheet" />

<link href="{% static "assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" %}" rel="stylesheet" />

<link href="{% static "assets/plugins/switchery/switchery.css" %}" rel="stylesheet">

<link href="{% static "assets/plugins/select2/dist/css/select2.min.css" %}" rel="stylesheet">
    
{% endblock %}

{% block content %}
    <div class="col-md-12 col-lg-12">
        

            
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    {% if cargo %}
                     
                    <form method="POST" action="{% url 'maestro:cargo_update' cargo.id %}">
                        <h4 class="panel-title">Actualizar Cargo</h4>
                    {% else %}

                    <form method="POST" action="{% url 'maestro:cargo_crear' %}">
                        <h4 class="panel-title">Crear Cargo</h4>

                    {% endif %}

                    {% csrf_token %}
                        <div class="pull-right" style="margin-top: -12px;">
                            <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                             
                        </div>


                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-2">{{form.descripcion.label_tag}}</div>
                        <div class="col-md-4">{{form.descripcion}}</div>
                        <div class="col-md-2">{{form.estado.label_tag}}</div>
                        <div class="col-md-4">{{form.estado}}</div>
                       
                    </div>
                   

                       
                </div>
            </form>
            </div>
       
    </div>


    
{% endblock content %}

{% block scripts %}



{% endblock scripts %}