 <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header">
				<h4 class="modal-title">Reporte Asistencia</h4>
				
			</div>
            <form method="POST" action="{% url 'asistencia:reporte_form' %}">
            	{% csrf_token %}
	            <div class="modal-body">
	            	<div class="container-fluid">
		                <div class="form-group row">
		                	<label class="form-label col-md-2">Año</label>
		                	<div class="col-md-10">
			                  	<select class="form-control" name="año" id="id_año">
			                  		<option value="2021">2021</option>

			                  	</select>
			                  </div>
			             </div>
			            <div class="form-group row">
			            	<label class="form-label col-md-2">Mes</label>
			            	<div class="col-md-10">
			                  	<select class="form-control" name="mes" id="id_mes">
			                  		<option value="01">ENERO</option>
			                  		<option value="02">FEBRERO</option>
			                  		<option value="03">MARZO</option>
			                  		<option value="04">ABRIL</option>
			                  		<option value="05">MAYO</option>
			                  		<option value="06">JUNIO</option>
			                  		<option value="07">JULIO</option>
			                  		<option value="08">AGOSTO</option>
			                  		<option value="09">SEPTIEMBRE</option>
			                  		<option value="10">OCTUBRE</option>
			                  		<option value="11">NOVIEMBRE</option>
			                  		<option value="12">DICIEMBRE</option>
			                  	</select>
			                </div>
	                
			            </div>
			            <div class="form-group row">
			            	<label class="form-label col-md-2">Area</label>
			            	<div class="col-md-10">
			            		<select class="form-control" name="area" id="id_area">
			            			{% for a in area %}
			            				<option value="{{a.id}}">{{a}}</option>
			            			{% endfor %}

			            		</select>

			            	</div>

			            </div>


	            	</div>  
	        	</div>
		        <div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-bs-dismiss="modal">Cerrar</a>
					<button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Reporte</button>
				</div>
			</form>
    </div>
 </div> 